
__pycache__/

dist/dist.rar

bookstore.spec

build/bookstore/Analysis-00.toc

build/bookstore/base_library.zip

build/bookstore/bookstore.exe.manifest

build/bookstore/EXE-00.toc

build/bookstore/PKG-00.pkg

build/bookstore/PKG-00.toc

build/bookstore/PYZ-00.pyz

build/bookstore/PYZ-00.toc

build/bookstore/Tree-00.toc

build/bookstore/xref-bookstore.html

build/bookstore/warn-bookstore.txt

build/bookstore/Tree-02.toc

build/bookstore/Tree-01.toc
